lab1/My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "first-workflow",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "20b014b1-aa92-415b-a251-bdf083d07d46",
      "name": "Webhook",
      "webhookId": "72f29bf4-2eb0-469a-b6a2-43beba56c602"
    },
    {
      "parameters": {
        "jsCode": "const name = $input.first().json.body?.name || \"Guest\";\nreturn {\n  json: {\n    message: `Hello, ${name}! Welcome to n8n 🎉`\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "e03541b0-ad7a-4e51-b2fc-de908a3ab83d",
      "name": "Code"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        440,
        0
      ],
      "id": "2e809b45-2fd6-47fb-95a5-e9a8990cea7c",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ea036035-2a6b-4dba-8fac-9b79a2cd71ac",
  "meta": {
    "instanceId": "e10f4ec30ebd161d19f34294052d73c760062e72d4c8017372d8531af9cc5985"
  },
  "id": "TaEg2RRw8YR5inbP",
  "tags": []
}